# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno
.env

# Directorios de logs
logs
*.log
logs/*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace

# Archivos de salida y dependencias compiladas
dist/
build/
out/

# Otros archivos
*.pid
*.seed

# Carpetas generadas por Docker
docker-compose.override.yml

# Configuración de Git y SSH
*.pem
*.key
*.pub

# Configuración de OS (opcional)
*.swp
*~
